<header>
  <nav id="menu">
    <ul>
      <!--Quitar valores quemados luego-->
      <li id = "logo"><div class="image">
        <!--<img src="{{url+'get-image/'+project.image}}" *ngIf="project.image">-->
      </div></li>
      <li class = "company">PPC</li>
      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Contacto</a></li>
      <li id = "menubtn"><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Menú</a></li>
      <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']"><img id="iconoG" src="../assets/img/gears.png"></a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']"><img id="iconoC" src="../assets/img/carrito.png" ></a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']"><img id="iconoU" src="../assets/img/usuario.png" ></a></li>
    </ul>
  </nav>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Master en JS
</footer>