<header>
  <nav id="menu">
    <ul>
      <!--Quitar valores quemados luego-->
      <li id = "logo"><div class="image">
        <img id="companyLogo" src="{{url+'get-image/'+restaurant.mainLogo}}" width="50px" *ngIf="restaurant.mainLogo">
      </div></li>
      <li class = "company">{{restaurant.name}}</li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
      <li id = "menubtn"><a [routerLink]="['/productos']" [routerLinkActive]="['actived']">Menú</a></li>
      <li *ngIf="authen === true"><a id="iconoG" (click)=openDialog() [routerLinkActive]="['actived']"><img src="../assets/img/gears.png"></a></li>
      <li><a id="iconoC" [routerLink]="['/cart', id]" [routerLinkActive]="['actived']" ><img src="../assets/img/carrito.png" ></a></li>
      <li *ngIf="authen"><a id="iconoU" [routerLink]="['/detail-user']" [routerLinkActive]="['actived']" ><img src="../assets/img/usuario.png" ></a></li>
      <li *ngIf="!authen"><a id="iconoU" [routerLink]="['/signUp']" [routerLinkActive]="['actived']" ><img src="../assets/img/usuario.png" ></a></li>
    </ul>
  </nav>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Diseño de software | IS - 2020
</footer>