<header>
  <nav id="menu">
    <ul>
      <!--Quitar valores quemados luego-->
      <li id = "logo"><div class="image">
        <!--<img src="{{url+'get-image/'+project.image}}" *ngIf="project.image">-->
      </div></li>
      <li class = "company">PPC</li>
      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Contacto</a></li>
      <li id = "menubtn"><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Menú</a></li>
      <li><a id="iconoG" [routerLink]="['/info-soda']" [routerLinkActive]="['actived']" ><img src="../assets/img/gears.png"></a></li>
      <li><a id="iconoC" [routerLink]="['/contacto']" [routerLinkActive]="['actived']" ><img src="../assets/img/carrito.png" ></a></li>
      <li><a id="iconoU" [routerLink]="['/contacto']" [routerLinkActive]="['actived']" ><img src="../assets/img/usuario.png" ></a></li>
    </ul>
  </nav>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Diseño de software | IS - 2020
</footer>