<div class="container">
    <ul>
        <div class='row'>
            <div class='column'>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.6577696283225!2d-84.05808028474245!3d9.962405076412747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e45e4b99d1c7%3A0xbb2d4e22942064f0!2sLincoln%20Plaza%2C%20Av%2065%2C%20Los%20Colegios%2C%20San%20Jos%C3%A9%2C%20San%20Vicente!5e0!3m2!1ses!2scr!4v1596814521750!5m2!1ses!2scr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class='column'>
                <h2 class='row'>Contáctanos</h2><br/>
                <h1 class='row'>Teléfono: aqui va el telefono NO quemado :v </h1><br/>
                <h1>e-mail: aqui va el correo NO quemado :v</h1><br/>
                <h1><img class='socialImg' src="../assets/img/facebook.png" width="5%"> aqui va el fb NO quemado :v</h1><br/>
                <h1><img class='socialImg' src="../assets/img/instagram.png" width="5%"> aqui va el insta NO quemado :v</h1><br/>
                <h1><img class='socialImg' src="../assets/img/whatsapp.png" width="5%"> aqui va el whats NO quemado :v</h1><br/>
                <img class='contactImg' src="../assets/img/contactImg.png" width="30%">
            </div>

        </div>
    </ul>
</div>