<div class="container">
    <ul>
        <div class='rowContact'>
            <div class='columnContact'>
                <iframe id="mapa" [src]="mapURL | safe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class='columnContact'>
                <h2 class='rowContact'>Contáctanos</h2><br/>
                <h1 class='rowContact'>Teléfono: {{restaurant.phoneNumber}} </h1><br/>
                <h1>e-mail: {{restaurant.email}}</h1><br/>
                <h1><img class='socialImg' src="../assets/img/Facebook.png" width="5%">  {{restaurant.facebook}}</h1><br/>
                <h1><img class='socialImg' src="../assets/img/instagram.png" width="5%">  {{restaurant.instagram}}</h1><br/>
                <h1><img class='socialImg' src="../assets/img/Whatsapp.png" width="5%">  {{restaurant.whatsapp}}</h1><br/>
                <img class='contactImg' src="../assets/img/contactImg.png" width="30%">
            </div>

        </div>
    </ul>
</div>
<!-- Holi el mapa esta pendiente, bendiciones ji-->