<div class="container">
    <form #createProductForm="ngForm" (ngSubmit)="onSubmit(createProductForm)">
        <div class="row">
            <div class="column">
                <h2>Editar Información</h2>
            </div>
            <div class="column">
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p>
                    <label for="name">Nombre</label>
                    <input type="text" name="name" #name="ngModel" required>
                    <span class="form_error" *ngIf="name.touched && !name.valid"><strong>Campo obligatorio</strong></span>
                    <br/><br/>
                    <label for="precio">Precio</label>
                    <input type="text" name="precio" #precio="ngModel"required>
                    <span class="form_error" *ngIf="precio.touched && !precio.valid"><strong>Campo obligatorio</strong></span>
                </p>
            </div>
            <div class="column">
                <p>
                    <span class="imagen">Cargar imagen</span>
                    <input id="main" type="text" disabled="true"><img class="uploadbtn" src="../../../assets/img/upload.png" (click)="fileInputCo.click()" width="30px">    
                    <input #fileInputCo type="file" (change)="productImageFileChange($event)" style="display:none;" />
                </p>
                <div *ngIf="product.image">
                    Vista Previa:<img class="logo" src="{{url+'get-image/'+product.image}}" width="50">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p>
                    <label for="descripcion">Descripción</label>
                    <textarea type="text" name="descripcion" #descripcion="ngModel" required></textarea>
                    <span class="form_error" *ngIf="descripcion.touched && !descripcion.valid"><strong>Campo obligatorio</strong></span>
                </p>
                <br/><br/>
 
            </div>
       
        </div>
   
        <!--CAmbiar la ruta por la del menu-->
        <div class="row">
            <button class="cancelButton" [routerLink]="['/contacto']" >CANCELAR</button>
            <input class="submitbtn" type="submit" value="Guardar" [disabled]="!createProductForm.form.valid">
        </div>
        
        
    </form>
</div>