<div *ngIf="data.role === 'Administrador'">
    <button type="button" class="menuButton" (click)="closeDialog()" [routerLink]="['/info-soda']" [routerLinkActive]="['actived']">EDITAR INFORMACIÓN</button>
    <button type="button" class="menuButton" (click)="closeDialog()" [routerLink]="['/mant-productos']" [routerLinkActive]="['actived']">EDITAR MENÚ</button>
    <button type="button" class="menuButton" (click)="closeDialog()" [routerLink]="['/assignRoles']" [routerLinkActive]="['actived']">ASIGNAR ROLES</button>
    <button type="button" class="menuButton" (click)="closeDialog()" [routerLink]="['/changeOrder']" [routerLinkActive]="['actived']">CAMBIAR ESTADO DE LA ORDEN</button>
</div>
<div *ngIf="data.role === 'Repartidor'">
    <span>Repartidor</span>
    <button type="button" class="menuButton" (click)="closeDialog()" [routerLink]="['/changeOrder']" [routerLinkActive]="['actived']">CAMBIAR ESTADO DE LA ORDEN</button>
</div>
<div *ngIf="data.role === 'Cliente'">
    <span>Cliente</span>
    <button type="button" class="menuButton" (click)="closeDialog()" [routerLink]="['/history']" [routerLinkActive]="['actived']">CAMBIAR ESTADO DE LA ORDEN</button>
</div>

<button type="button" class="menuButton" (click)="closeDialog()">CANCELAR</button>