<div *ngIf="data.role === 'Administrador'">
    <button type="button" class="menuButton" (click)="closeDialog()">EDITAR INFORMACIÓN</button>
    <button type="button" class="menuButton" (click)="closeDialog()">EDITAR MENÚ</button>
    <button type="button" class="menuButton" (click)="closeDialog()">ASIGNAR ROLES</button>
    <button type="button" class="menuButton" (click)="closeDialog()">CAMBIAR ESTADO DE LA ORDEN</button>
</div>
<div *ngIf="data.role === 'Repartidor'">
    <span>Repartidor</span>
    <button type="button" class="menuButton" (click)="closeDialog()">CAMBIAR ESTADO DE LA ORDEN</button>
</div>
<div *ngIf="data.role === 'Cliente'">
    <span>Cliente</span>
    <button type="button" class="menuButton" (click)="closeDialog()">HISTORIAL DE PEDIDOS</button>
</div>

<button type="button" class="menuButton" (click)="closeDialog()">CANCELAR</button>