<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum finibus lorem. Aliquam erat volutpat.
        Maecenas placerat massa id nunc facilisis egestas. In bibendum, nunc ut laoreet malesuada, erat metus luctus ex,
        vel blandit libero dui vel ante. Ke le importa. Integer vehicula, diam at placerat ullamcorper, libero magna tincidunt tellus,
        non efficitur quam ante in arcu. Duis sed lorem fringilla sapien porta ultricies consequat vel nisi. Sed varius
        ornare ante, sit amet lacinia ante gravida tristique. Ut a sagittis nisi. Quisque augue ligula, rutrum a arcu
        eget, luctus luctus mauris.</p>
</article>