<div class="container">
    <div class="image">
        <img src="{{url+'get-image/'+product.image}}" *ngIf="product.image">
    </div>
    <div class="dataDetailProduct">
        <h2>Producto: {{product.name}}</h2><br/>
        <h1>Descripción: {{product.description}}</h1><br/>
        <p>Precio: {{product.price}} colones</p><br/>
        <p *ngIf="!confirm">
            <button [routerLink]='["/editar-producto", product._id]' class="editOneProductButton">EDITAR</button><br/>
            <button class="deleteProductButton" (click)="setConfirm(true)">BORRAR</button><br/>
            <button [routerLink]='["/mant-productos"]' class="cancelProductButton">CANCELAR</button><br/>
        </p>

        <p *ngIf="confirm">
            <span class="confirm">¿Estas seguro de eliminar este proyecto?</span>            
            <br>
            <a class="button-edit" (click)="setConfirm(false)">Cancelar</a>
            <a class="button-delete" (click)="deleteProduct(product._id)">Confirmar borrado</a>
        </p>

    </div>
</div>

