/* Importar fuentes custom*/
@font-face{
	font-family: "yanone";
	src: url("./assets/css/fonts/yanone.ttf");
}

@font-face{
	font-family: "finger";
	src: url("./assets/css/fonts/finger.ttf");
}

@font-face{
	font-family: "United Sans light";
	src: url("./assets/css/fonts/UnitedSansReg-Light.otf");
}

@font-face{
	font-family: "United Sans Bold";
	src: url("./assets/css/fonts/UnitedSansReg-Bold.otf");
}
/*Generales*/

*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "yanone", Arial, Helvetica;
	font-size: 20px;
	background: #181818;
	background-attachment: fixed;
}

.clearfix{
	float:none;
	clear:both;
}

/*Barra de navegacion / cabecera*/

#companyLogo{
	vertical-align: middle;
	margin-right: 5px;
	width: 60px;
}
header{
	display: block;
	width: 100%;
	height: 90px;
	border-bottom: 40px solid #181818;
	text-transform: uppercase;

}

#menu{
	background: #181818;
	width: 100%;
	border-bottom: 1px solid #aaaaaa;
}

#mapaPrevio{
	width: 50%;
	height: 50%;

}

header ul{
	display: block;
	width: 100%;
	height: inherit;
	margin: 0px auto;
	margin-top: -3px;
}

header ul li{
	display: inline-block;
	margin: 0px auto;
	text-align: left;
	line-height: 88px;
}

header a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color:white;
	transition: all 300ms;
}	

header a:hover,
.actived{
	background: #E42C2B ;
	border-radius: 15px;
	border: 1px solid #181818;
}

header a img{
	width: 50px;
	vertical-align: middle;	
}

#iconoG{
	position: absolute;
	top: -4px;
	right: 210px;
}

#iconoC{
	position: absolute;
	top: -4px;
	right: 110px;
}

#iconoU{
	position: absolute;
	top: -4px;
	right: 10px;
}
/*Logotipo*/

#logo{
	font-family: "finger";
	font-size: 30px;
}

#logo a{
	transition: color 500ms, transform 500ms;
}

#logo a:hover{
	background: transparent;
	color: #181818;
	transform:scale(1.50,1.50);
}
.logo{
	vertical-align: middle;
	border: 1px solid #181818;
	margin-left: 15px;
	margin-top: 15px;
}
.company{
	font-family: "United Sans light";
	color: white;
	margin-right: 50px;
	font-size: 24pt;
	vertical-align: middle;
}

#contentParaTapar{
	min-height: 600px;
	height: auto;
	width: 100%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px #181818;
	background: #181818;
	border-radius: 0px;
	padding-top: 20px;
}

#contentRegistro{
	min-height: 600px;
	height: 100%;
	width: 60%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px #181818;
	background: white;
	border-radius: 15px;
	padding-top: 20px;
}

/*Contenedor principal*/

#content{
	min-height: 600px;
	height: auto;
	width: 75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px #181818;
	background: white;
	border-radius: 15px;

}

/*Pie de pagina*/
footer{
	width: 75%;
	margin: 0px auto;
	padding-top: 15px;
	color: white;
}


/*Sobre mi*/
#title{
	width: 70%;
	margin: 0px auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 70px;
}

#title h1{
	font-family: "finger";
	font-size: 60px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

#title h2{
	font-size: 25px;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.about{
	width: 70%;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 23px;
}

.about h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.about p{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: justify;
}

/*Sección con formulario*/
.row {
	display: flex;
	margin: auto;
  }
  
  .column {
	flex: 50%;
	margin: auto;
  }
.container{
	padding: 50px;
	padding-top: 10px;
	border-radius: 15px;
}

.container .image{
	float: left;
	width: 47%;
}

.container .image img{
	width: 100%;
}

.container .data{
	float: left;
	width: 48%;
	margin-left:30px;
}

.container h2{
	padding-bottom: 10px;
	margin: auto;
	font-family: "United Sans light";
}
.column h3{
	padding-bottom: 10px;
	margin: auto;
	font-family: "United Sans light";
	text-align: center;
}

.example-viewport {
	height: 200px;
	width: 200px;
  }
form{
	width: 100%;
}

form label{
	display: inline-block;
	width: 15%;
	text-align: left;
}

.media{
	vertical-align: middle;
	margin-right: 5px;
	width: 30px;
}

.mediaInfoSodaSocial{
	vertical-align: middle;
	margin-right: 8%;
	margin-left: 2%;
	width: 30px;
}

.logoname{
	display: inline-block;
	width: 30%;
	text-align: left;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="password"],
form textarea{
	width: 40%;
	padding: 5px;
	border-radius: 15px;
}

.uploadbtn{
	vertical-align: middle;
	margin-left: 5px;
	cursor: pointer;
}


.cancelButton{
	margin-left: auto;
	margin-right: 5px;	
	font-family: "united sans bold";
	font-size: 17px;
	padding: 10px;
	height: 50px;
	color:#181818;
	background: white;
	border-radius: 10px;
	border: 1px solid #181818;
	cursor: pointer;
}

.submitbtn{
	margin-right: auto;
	margin-left: 5px;
	font-family: "united sans bold";
	font-size: 17px;
	padding: 10px;
	color: white;
	background: #E42C2B;
	border-radius: 10px;
	border: 1px solid #E42C2B;
	cursor: pointer;
}

form button,
.button-edit,
.button-delete{
	display: block;
	font-size: 17px;
	padding: 10px;
	margin-top: 15px; 
	color:white;
	background: rgba(53, 103, 164, 1);
	border: 1px solid rgba(13, 67, 133, 1);
	cursor: pointer;
}

.button-edit,
.button-delete{
	width: 30%;
	text-align: center;
	float: left;
	margin-right: 10px;
	text-decoration: none;
}

.button-edit{
	background: orange;
	border: none;
}

.button-delete{
	background: red;
	border: none;
}

form button:hover,
form input[type="submit"]:hover{
	background: rgba(53, 103, 164, 0.8);
	border: 1px solid rgba(13, 67, 133, 1);
}

form input[disabled]{
	opacity: 0.4;
	cursor: not-allowed;
}

.form_error{
	font-size: 13px;
	padding: 3px;
	color: red;
	margin-left: 5px;
}

.message{
	width: 50%;
	padding: 5px;
}

.success{
	color: green;
}

.message a{
	cursor: pointer;
}

.failed{
	color: red;
}

/*Pagina de proyectos*/

.project{
	list-style: none;
	display: block;
	float: left;
	width: 28%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 30px;
}

.project .image{
	width: 100%;
	height: 150px;
	overflow: hidden;
}

.project img{
	width: 100%;
}

.project a{
	text-decoration: none;
	color: black;
}

.confirm{
	display: block;
	font-weight: bold;
	margin-top: 20px;
}

.rowContact {
	display: flex;
  }
  
.columnContact {
	flex: 50%;
	padding: 2% 2% 2% 2%;
}

.rowRegistro{
	padding-left:30%;
}

.columnRegistro{
	justify-content: center
}

.row {
	display: flex;
  }
  
.column {
	flex: 50%;
	padding: 1% 1% 1% 1%;
}

.socialImg{
	padding-top: 2%;
	padding-right: 2%;
}

.bottomleft {
    position: absolute;
    bottom: 150px;
    right: 200px;
    font-size: 18px;
  }

.contactImg{
	float: right;
}

.paddingTop{
	padding-top: 20px;
}

.tituloCentrado{
    text-align: center;
}
  

.centrarImg{
	padding-top: 5%;
	padding-left: 45%;
}