<div class="container">
    <h2>Editar Información</h2>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <div class="row">
            <div class="column">
                <p>
                    <label for="name">Nombre</label>
                    <input type="text" name="name" #name="ngModel" [(ngModel)]="restaurant.name" required>
                    <span class="form_error" *ngIf="name.touched && !name.valid"><strong>El nombre es obligatorio</strong></span>
                </p>
            </div>
            <div class="column">
                
            </div>
        </div>
        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
    </form>
</div>
