<div class="container">
    <button class="newProductButton" [routerLink]="['/crear-producto']" >AÑADIR NUEVO PRODUCTO</button>
    <ul class="paddingTop">
        <li *ngFor="let product of products" class="product">
                <div class="image">
                    <img src="{{url+'get-image/'+product.image}}" *ngIf="product.image">
                </div>
                <h1>{{product.name}}</h1>
                
                <h3>{{product.price}} colones</h3>
                <br/>
                <button class="editProductButton" [routerLink]="['/producto', product._id]">EDITAR PRODUCTO</button>
        </li>
    </ul>
</div>